/* Referesh */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.refresh:hover img {
    animation: spin 0.6s ease-in-out forwards;
}

/* Animation Button Checkout */
.shine-button {
    position: relative;
    overflow: hidden;
}

    .shine-button::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient( to right, transparent, rgba(255, 255, 255, 0.3), transparent );
        transform: rotate(45deg);
        transition: 0.5s;
        opacity: 0;
    }

    .shine-button:hover::before {
        animation: shine 1s;
    }

@keyframes shine {
    0% {
        transform: translateX(-100%) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
    }
}

/* Thêm hiệu ứng scale nhẹ khi hover */
.shine-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
